@layer utilities {
    .box-shadow-custom:hover {
      box-shadow: rgba(5, 25, 45, 0.3) 0px 3px 5px -1px;
      transition: box-shadow 600ms cubic-bezier(0.1, 0.8, 0.2, 1) 0s, transform 600ms cubic-bezier(0.1, 0.8, 0.2, 1) 0s;
    }
  }

  
