{% load allauth %}
{% load widget_tweaks %}

{% if attrs.form.non_field_errors %}
    <div class="mt-4">
        {% for error in attrs.form.non_field_errors %}
            <li class="list-disc text-[#c01100]">{{ error | safe }}</li>
        {% endfor %}
    </div>
{% endif %}

{% for field in attrs.form %}
    {% if field.errors %}
        <div class="mt-4">
            {% for error in field.errors %}
                <li class="list-disc text-[#c01100]">{{ error | safe }}</li>
            {% endfor %}
        </div>
    {% endif %}
{% endfor %}

{% if attrs.form.email %}
    <label class="block font-['Studio-Feixen-Semibold'] text-[#05192d] text-sm mb-2 mt-3" for="{{ attrs.form.email.id_for_label }}">{{ attrs.form.email.label_tag }}</label>
    {% render_field attrs.form.email placeholder='' class="bg-white focus:outline-none focus:border-blue-500 border-2 border-gray-200 rounded-md p-3 w-full focus:ring-blue-500" %}
{% elif attrs.form.login %}
    <label class="block font-['Studio-Feixen-Semibold'] text-[#05192d] text-sm mb-2 mt-3" for="{{ attrs.form.login.id_for_label }}">{{ attrs.form.login.label_tag }}</label>
    {% render_field attrs.form.login placeholder='' class="bg-white focus:outline-none focus:border-blue-500 border-2 border-gray-200 rounded-md p-3 w-full focus:ring-blue-500" %}
{% endif %}


{% if attrs.form.password1 %}
    <label class="block mb-1 mt-6 font-['Studio-Feixen-Semibold'] text-sm text-[#05192d]" for="{{ attrs.form.password1.id_for_label }}">{{ attrs.form.password1.label_tag }}</label>
    {% render_field attrs.form.password1 placeholder='' class="bg-white focus:outline-none focus:border-blue-500 border-2 border-gray-200 rounded-md p-3 w-full focus:ring-blue-500" %}

{% elif attrs.form.password %}
    <label class="block mb-1 mt-6 font-['Studio-Feixen-Semibold'] text-sm text-[#05192d]" for="{{ attrs.form.password.id_for_label }}">{{ attrs.form.password.label_tag }}</label>
    {% render_field attrs.form.password placeholder='' class="bg-white focus:outline-none focus:border-blue-500 border-2 border-gray-200 rounded-md p-3  mb-5 w-full focus:ring-blue-500" %}

    <div class="flex justify-between">
        <div>
            <label for="{{ attrs.form.remember.id_for_label }}" class="font-['Studio-Feixen-Semibold'] text-[#05192d] text-sm">{{ attrs.form.remember.label_tag }}</label>
            {% render_field attrs.form.remember %}    
        </div>
        <a class="text-[#007bb6] text-[14px] font-bold" href="{% url 'account_reset_password' %}">Forgot password?</a>
    </div>
{% endif %}

