{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos</title>
    
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.css" rel="stylesheet" />

    <script src="https://unpkg.com/alpinejs"></script>

    <!-- tippyjs -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tippy.js/6.3.7/tippy.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://unpkg.com/@ryangjchandler/alpine-tooltip@1.2.0/dist/cdn.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="{% static 'learn/css/custom-font.css' %}" >

    <!-- Alpine.js -->
    <script src="https://unpkg.com/alpinejs"></script>	
</head>

<body class="bg-[#F7F7FC]" style="font-family: 'Studio-Feixen' system-ui, -apple-system;">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.js"></script>

    {% include 'partials/navbar.html' %}

    <main class="mt-20 ml-10 mb-10 w-[1090px]">

        <div class="flex items-center bg-[#05192d] rounded-[4px] justify-space-between p-[50px] pl-6 text-left">
            <div class="box-border bg-no-repeat" >
                <div class="flex-row mb-2">
                    <h1 class="m-0 p-0 text-white text-[24px]">Cursos</h1>
                </div>
                <p class="text-white text-[15px] max-w-[553px] leading-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae illo dolore alias eos eum tenetur doloremque magnam officia ratione incidunt!</p>
            </div>
        </div>

        <div class="pt-5 pb-23">
            <div class="flex items-center justify-space-between gap-[10px]">
                <div class="flex justify-start wrap items-center">
                    <a id="active" href="{% url 'learn:courses' %}" class="w-auto px-2 py-2.5 rounded-md  text-sm text-[#05192D] bg-[#e8e8ee] hover:bg-gray-200/75">
                        <span class="">Todos</span> 
                    </a>
                </div>
                {% for tag in tags %}
                <div class="flex justify-start wrap items-center">
                    <a href="{% url 'learn:filtered_courses' tag.name %}" class="bg-gray-200 text-[#05192D] w-auto px-2 py-2.5 rounded-md  text-sm hover:bg-gray-200/50">
                        <span class="capitalize">{{tag.name}}</span>
                    </a>
                </div>
                {% endfor %}
                </div>

                <div class="pt-6 pb-2 text-sm text-gray-800 font-bold" >
                    {% if not message %}
                        <p>{{ total_courses }} curso{{ total_courses|pluralize }}</p>
                    {% else %}
                        <p>{{ message }}</p>
                    {% endif %}
                </div>                    
        </div>

        {% if courses %}
            <div id="courses">  
                <div class="grid grid-cols-3 gap-3">
                    {% for course, formatted_hours in courses %}
                        <section class="relative bg-white border border-solid mt-4 transition ease-out delay-150 hover:-translate-y-1 duration-300">
                            <a href="" class="">
                                <span class="">
                                    <p class="text-[#aeaeb3] text-[11px] uppercase tracking-widest leading-normal ml-5 mt-5">{{ course.nivel }}</p>
                                    <h2 class="font-medium overflow-hidden text-[#05192D] ml-5 mt-2 text-[18px] leading-6">{{ course.titulo }}</h2>
                                </span>
                                
                                <span>
                                    <p class="inline-block font-normal leading-6 text-[#616e7a] text-sm px-4 py-4 mb-1">{{ course.apresentacao }}</p>
                                    <div class="flex items-center mb-10">
                                        <img class="w-10 h-10 static rounded-full ml-5" src="https://assets.datacamp.com/authors/avatars/000/001/784/original/3.png?1705586441" >
                                        <div class="text-[#616e7a] leading-5 ml-2">
                                            <p class="text-sm">{{ course.professor }}</p>
                                            <p class="text-[12px]">{{ course.professor.specialization }}</p>
                                        </div>
                                    </div>
                                </span>

                                <footer class="border">
                                    <div class="flex items-center justify-between mt-5 ml-5 mr-5 mb-4">
                                        <p class="text-sm text-[#848492]">{{ formatted_hours }}h</p>
                                        <a class="flex items-center cursor-pointer h-9 w-auto border-2 border-[#8288a5] hover:bg-gray-100 rounded-md pl-4 pr-4">
                                            <span class="font-semibold text-sm text-[#05192D] leading-6 m-0 p-0 ">
                                                Iniciar
                                            </span>
                                        </a>
                                    </div>
                                </footer>
                            </a>
                        </section>
                        {% endfor %}
                </div>
            </div>
        {% endif %}
    </main>

</body>
</html>


