{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}

{% load widget_tweaks %}

{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p class="m-5">
            {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a class="underline decoration-2 decoration-sky-500" href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
        </p>
    {% else %}

        <div class="w-[500px] m-20 mx-auto bg-white rounded-md shadow" >
            <div class="p-16">
                <h2 class="mt-[-20px] text-[2rem] text-[#05192d] text-center leading-8 font-['Studio-Feixen-Semibold']">
                    Change Password
                </h2>
                    {% element form method="post" action=action_url %}
                        {% slot body %}
                            {% csrf_token %}
                            
                            {% for field in form %}
                                {% if field.errors %}
                                    <div class="mt-4">
                                        {% for error in field.errors %}
                                            <li class="list-disc text-[#c01100]">{{ error }}</li>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endfor %}

                            <label for="{{ form.password1.id_for_label }}" class="block mb-1 mt-6 font-['Studio-Feixen-Semibold'] text-sm text-[#05192d]" >{{ form.password1.label_tag }}</label>
                            {% render_field form.password1 placeholder='' class="bg-white focus:outline-none focus:border-blue-500 border-2 border-gray-200 rounded-md p-3 w-full focus:ring-blue-500" %}

                            <label for="{{ form.password2.id_for_label }}" class="block mb-1 mt-6 font-['Studio-Feixen-Semibold'] text-sm text-[#05192d]" >{{ form.password2.label_tag }}</label>
                            {% render_field form.password2 placeholder='' class="bg-white focus:outline-none focus:border-blue-500 border-2 border-gray-200 rounded-md p-3 w-full focus:ring-blue-500" %}
                        {% endslot %}
                        {% slot actions %}
                            <button type="submit" name="action" class="w-full text-[#05192d] font-['Studio-Feixen-Semibold'] bg-[#04ea63] rounded-md text-sm px-6 py-3 mt-5 text-center">Change password</button>
                        {% endslot %}
                    {% endelement %}
            </div>
        </div>
    {% endif %}

{% endblock content %}

