{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
      
    <title>Editar Curso</title>
</head>

<body class="flex">
  
  <aside class="flex flex-col w-64 h-100 px-5 py-8 overflow-y-auto bg-white border-r rtl:border-r-0 rtl:border-l dark:bg-gray-900 dark:border-gray-700">
    <ul>
      <li class="text-gray-900 text-sm font-semibold">Planeje seu curso</li>
  
      <li class="text-gray-700 pt-2 flex text-sm ">
        <span class="text-primary mr-2 rounded-full text-sm">
          <svg width="15" height="20" viewBox="0 0 20 20" class="fill-current">
            <path
              d="M10 19.625C4.6875 19.625 0.40625 15.3125 0.40625 10C0.40625 4.6875 4.6875 0.40625 10 0.40625C15.3125 0.40625 19.625 4.6875 19.625 10C19.625 15.3125 15.3125 19.625 10 19.625ZM10 1.5C5.3125 1.5 1.5 5.3125 1.5 10C1.5 14.6875 5.3125 18.5312 10 18.5312C14.6875 18.5312 18.5312 14.6875 18.5312 10C18.5312 5.3125 14.6875 1.5 10 1.5Z"
            ></path>
          </svg>
        </span>
        Escolher um título
      </li>

      <li class="text-gray-700 pt-2 flex text-sm">
        <span class="text-primary mr-2 rounded-full text-sm">
          <svg width="15" height="20" viewBox="0 0 20 20" class="fill-current">
            <path
              d="M10 19.625C4.6875 19.625 0.40625 15.3125 0.40625 10C0.40625 4.6875 4.6875 0.40625 10 0.40625C15.3125 0.40625 19.625 4.6875 19.625 10C19.625 15.3125 15.3125 19.625 10 19.625ZM10 1.5C5.3125 1.5 1.5 5.3125 1.5 10C1.5 14.6875 5.3125 18.5312 10 18.5312C14.6875 18.5312 18.5312 14.6875 18.5312 10C18.5312 5.3125 14.6875 1.5 10 1.5Z"
            ></path>
          </svg>
        </span>
        Descrição 
      </li>
  
      <li class="text-gray-700 pt-2 flex text-sm">
        <span class="text-primary mr-2 rounded-full text-sm">
          <svg width="15" height="20" viewBox="0 0 20 20" class="fill-current">
            <path
              d="M10 19.625C4.6875 19.625 0.40625 15.3125 0.40625 10C0.40625 4.6875 4.6875 0.40625 10 0.40625C15.3125 0.40625 19.625 4.6875 19.625 10C19.625 15.3125 15.3125 19.625 10 19.625ZM10 1.5C5.3125 1.5 1.5 5.3125 1.5 10C1.5 14.6875 5.3125 18.5312 10 18.5312C14.6875 18.5312 18.5312 14.6875 18.5312 10C18.5312 5.3125 14.6875 1.5 10 1.5Z"
            ></path>
          </svg>
        </span>
        Duração
      </li>
  
      <li class="text-gray-700 pt-2 flex text-sm">
        <span class="text-primary mr-2 rounded-full text-sm">
          <svg width="15" height="20" viewBox="0 0 20 20" class="fill-current">
            <path
              d="M10 19.625C4.6875 19.625 0.40625 15.3125 0.40625 10C0.40625 4.6875 4.6875 0.40625 10 0.40625C15.3125 0.40625 19.625 4.6875 19.625 10C19.625 15.3125 15.3125 19.625 10 19.625ZM10 1.5C5.3125 1.5 1.5 5.3125 1.5 10C1.5 14.6875 5.3125 18.5312 10 18.5312C14.6875 18.5312 18.5312 14.6875 18.5312 10C18.5312 5.3125 14.6875 1.5 10 1.5Z"
            ></path>
          </svg>
        </span>
        Escolha da categoria
      </li>
  
      <li class="text-gray-900 text-sm font-semibold pt-5 ">Crie módulos</li>
  
      <li class="text-gray-700 pt-2 flex text-sm pt-2">
        <span class="text-primary mr-2 rounded-full text-sm">
          <svg width="15" height="20" viewBox="0 0 20 20" class="fill-current">
            <path
              d="M10 19.625C4.6875 19.625 0.40625 15.3125 0.40625 10C0.40625 4.6875 4.6875 0.40625 10 0.40625C15.3125 0.40625 19.625 4.6875 19.625 10C19.625 15.3125 15.3125 19.625 10 19.625ZM10 1.5C5.3125 1.5 1.5 5.3125 1.5 10C1.5 14.6875 5.3125 18.5312 10 18.5312C14.6875 18.5312 18.5312 14.6875 18.5312 10C18.5312 5.3125 14.6875 1.5 10 1.5Z"
            ></path>
            
          </svg>
          
        </span>
        Criar secções
      </li>
  
      <li class="text-gray-700 pt-2 flex text-sm">
        <span class="text-primary mr-2 rounded-full text-sm">
          <svg width="15" height="20" viewBox="0 0 20 20" class="fill-current">
            <path
              d="M10 19.625C4.6875 19.625 0.40625 15.3125 0.40625 10C0.40625 4.6875 4.6875 0.40625 10 0.40625C15.3125 0.40625 19.625 4.6875 19.625 10C19.625 15.3125 15.3125 19.625 10 19.625ZM10 1.5C5.3125 1.5 1.5 5.3125 1.5 10C1.5 14.6875 5.3125 18.5312 10 18.5312C14.6875 18.5312 18.5312 14.6875 18.5312 10C18.5312 5.3125 14.6875 1.5 10 1.5Z"
            ></path>
          </svg>
        </span>
        Resumo da secção
      </li>
  
      <li class="text-gray-900 text-sm font-semibold pt-5">Adicione suas aulas</li>
  
      <li class="text-gray-700 pt-2 flex text-sm ">
        <span class="text-primary mr-2 rounded-full text-sm">
          <svg width="15" height="20" viewBox="0 0 20 20" class="fill-current">
            <path
              d="M10 19.625C4.6875 19.625 0.40625 15.3125 0.40625 10C0.40625 4.6875 4.6875 0.40625 10 0.40625C15.3125 0.40625 19.625 4.6875 19.625 10C19.625 15.3125 15.3125 19.625 10 19.625ZM10 1.5C5.3125 1.5 1.5 5.3125 1.5 10C1.5 14.6875 5.3125 18.5312 10 18.5312C14.6875 18.5312 18.5312 14.6875 18.5312 10C18.5312 5.3125 14.6875 1.5 10 1.5Z"
            ></path>
          </svg>
        </span>
        Adicionar título da aula
      </li>
  
      <li class="text-gray-700 pt-2 flex text-sm">
        <span class="text-primary mr-2 rounded-full text-sm">
          <svg width="15" height="20" viewBox="0 0 20 20" class="fill-current">
            <path
              d="M10 19.625C4.6875 19.625 0.40625 15.3125 0.40625 10C0.40625 4.6875 4.6875 0.40625 10 0.40625C15.3125 0.40625 19.625 4.6875 19.625 10C19.625 15.3125 15.3125 19.625 10 19.625ZM10 1.5C5.3125 1.5 1.5 5.3125 1.5 10C1.5 14.6875 5.3125 18.5312 10 18.5312C14.6875 18.5312 18.5312 14.6875 18.5312 10C18.5312 5.3125 14.6875 1.5 10 1.5Z"
            ></path>
          </svg>
        </span>
        Seleção do módulo
      </li>
      <li class="text-gray-700 pt-2 flex text-sm">
        <span class="text-primary mr-2 rounded-full text-sm">
          <svg width="15" height="20" viewBox="0 0 20 20" class="fill-current">
            <path
              d="M10 19.625C4.6875 19.625 0.40625 15.3125 0.40625 10C0.40625 4.6875 4.6875 0.40625 10 0.40625C15.3125 0.40625 19.625 4.6875 19.625 10C19.625 15.3125 15.3125 19.625 10 19.625ZM10 1.5C5.3125 1.5 1.5 5.3125 1.5 10C1.5 14.6875 5.3125 18.5312 10 18.5312C14.6875 18.5312 18.5312 14.6875 18.5312 10C18.5312 5.3125 14.6875 1.5 10 1.5Z"
            ></path>
          </svg>
        </span>
        Descrição da aula
      </li>
      <li class="text-gray-700 pt-2 flex text-sm">
        <span class="text-primary mr-2 rounded-full text-sm">
          <svg width="15" height="20" viewBox="0 0 20 20" class="fill-current">
            <path
              d="M10 19.625C4.6875 19.625 0.40625 15.3125 0.40625 10C0.40625 4.6875 4.6875 0.40625 10 0.40625C15.3125 0.40625 19.625 4.6875 19.625 10C19.625 15.3125 15.3125 19.625 10 19.625ZM10 1.5C5.3125 1.5 1.5 5.3125 1.5 10C1.5 14.6875 5.3125 18.5312 10 18.5312C14.6875 18.5312 18.5312 14.6875 18.5312 10C18.5312 5.3125 14.6875 1.5 10 1.5Z"
            ></path>
          </svg>
        </span>
        Upload de arquivos
      </li>
    </ul>
    
  </aside>
  
  

<div class="flex-1">

<nav class="flex pt-5 pl-5" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-3 md:space-x-3">
    <li class="inline-flex items-center">
      <a href="{% url 'area_do_professor' %}" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
        <svg class="w-3 h-3 mr-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
        </svg>
        Meus cursos
      </a>
    </li>

    <li>
      <div class="flex items-center">
        <svg class="w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
        </svg>
        <a href="#" class="ml-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ml-2 dark:text-gray-400 dark:hover:text-white">Alterações</a>
      </div>
    </li>

    <li aria-current="page">
      <div class="flex items-center">
        <svg class="w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
        </svg>
        <span class="ml-1 text-sm font-medium text-gray-500 md:ml-2 dark:text-gray-400">Criação do curso</span>
      </div>
    </li>

  </ol>
</nav>

  <form action="{% url 'editar_curso' curso.id %}" method="POST" enctype="multipart/form-data" class="ml-10 px-4 py-8">{% csrf_token %}
    
    <div class="space-y-12">
    
    <div class="border-b border-gray-900/10 pb-12">
      <h2 class=" text-2xl font-semibold leading-7 text-gray-900">Criação Do Curso</h2>
      <p class="mt-1 text-sm leading-6 text-gray-600">Vamos começar seu novo curso, preencha as informaçãos necessárias.</p>

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">

        <div class="sm:col-span-3">
          <label for="titulo_curso" class="block text-sm font-medium leading-6 text-gray-900">Título do curso</label>
          <div class="mt-2">
            <input type="text" name="titulo_curso" id="titulo_curso" value="{{ curso.titulo }}" placeholder="Pox exemplo: Aprenda PowerBI Avançado" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 pl-2">
    
          </div>
        </div>

        <div class="sm:col-span-1 sm:col-start-1">
          <label for="duracao_curso" class="block text-sm font-medium leading-6 text-gray-900">Duração</label>
          <div class="mt-2">
            <input type="text" name="duracao_curso" id="duracao_curso" value="{{ curso.duracao_curso }}" placeholder="ex: 8 meses" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 pl-2">
          </div>
        </div>
        
        <div class="sm:col-span-3">
          <label for="categoria" class="block text-sm font-medium leading-6 text-gray-900">Categoria</label>
          <div class="mt-3">
            <select id="categoria" name="categoria" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6 pl-2">
              <option value="default" selected disabled hidden >{{ curso.categoria }}</option>
              <option >Ciência De Dados</option>
              <option>Análise De Dados</option>
              <option>Inteligência Artificial</option>
              <option>Desenvolvimento Web Backend</option>
              <option>Desenvolvimento Web FrontEnd</option>
              <option>Outro</option>
            </select>
          </div>
        </div>

        <div class="col-span-full">
          <label for="descricao_curso" class="block text-sm font-medium leading-6 text-gray-900">Descrição</label>
          <div class="mt-2">
            <textarea id="descricao_curso" name="descricao_curso" rows="3" placeholder="informações do curso aqui..." class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 pl-2">{{ curso.descricao }}</textarea>
          </div>
          <p class="mt-3 text-sm leading-6 text-gray-600">Descreva para seu publico o que eles irão aprender no curso.</p>
        </div>

      </div>
    </div>
      
      <div class="col-span-full">
        <label for="imagem_capa" class="block text-sm font-medium leading-6 text-gray-900">Imagem de capa</label>
        <div class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-10">
          <div class="text-center">
            <svg class="mx-auto h-12 w-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z" clip-rule="evenodd" />
            </svg>
            <div class="mt-4 flex text-sm leading-6 text-gray-600">
              <label for="imagem_capa" class="relative cursor-pointer rounded-md bg-white font-semibold text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500">
                <span>
                  
                  Substituir imagem
      
                </span>
                <input id="imagem_capa" name="imagem_capa" type="file">
              </label>
            </div>
            {% if curso.imagem_capa %}
            <p class="text-xs leading-5 text-gray-600">{{ curso.imagem_capa.name }}</p>
            {% endif %}
          </div>
        </div>
      </div>
  </div>

  <div class="mt-6 flex items-center justify-end gap-x-6">
    <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Salvar e continuar</a>
  </div>
</form>
      
</div>

</body>
</html>

{% endblock %}