{% load i18n %}
{% load static %}

{% load widget_tweaks %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="{% static 'general/css/custom-fonts.css' %}" >
        <title>
            {% block head_title %}
            {% endblock head_title %}
        </title>
        {% block extra_head %}
        {% endblock extra_head %}
    </head>
    <body class="bg-gray-100" style="font-family: 'Studio-Feixen', system-ui, -apple-system;">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
        {% block body %}

            {% if messages %}
                <div class="flex justify-center">
                    <div id="alert" class="w-80 rounded-md text-center text-lg mt-1 px-6 py-5 bg-[#fcce0d]" >
                        <ul class="flex items-center justify-center" >
                            {% for message in messages %}
                                <li class="text-[#05192d]">{{ message }}</li>
                                <button class="pl-5 opacity-65 ml-2" data-dismiss-target="#alert" aria-label="Close">
                                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                      </svg>
                                </button>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
    
            {% block content %}
            {% endblock content %}
        {% endblock body %}
        {% block extra_body %}
        {% endblock extra_body %}
    </body>
</html>


