@font-face {
    font-family: "Studio-Feixen-Bold";
    src: url('/static/general/fonts/StudioFeixenSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "Studio-Feixen-Medium";
    src: url('/static/general/fonts/StudioFeixenSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: "Studio-Feixen";
    src: url('/static/general/fonts/StudioFeixenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Studio-Feixen-Semibold";
    src: url('/static/general/fonts/StudioFeixenSans-Semibold.ttf') format('truetype');
}
