{% load custom_tags %}

<div style="font-family: 'Studio-Feixen' system-ui, -apple-system; ">

  <header class="flex items-center justify-between fixed top-0 w-full h-[54px] bg-white p-4 z-10 shadow" style="font-family: 'Studio-Feixen' system-ui, -apple-system;">
      <h2 class="font-medium text-lg">Tech</h2>

        <div id="nav" class="flex items-center">
          <div class="flex items-center justify-between basis-auto h-[38px] grow-0 bg-[#efeff5] rounded-full">
            <a href="{% url 'learn:progress' %}" class="hover:bg-[#dadadf] hover:rounded-full mt-1.5 mb-1.5 ml-1 cursor-pointer">
              <span class="text-[14px] text-[#05192d] whitespace-nowrap leading-[30px] ml-4 mr-4">Progresso</span>
            </a>
            <a href="{% url 'learn:courses' %}" class="hover:bg-[#dadadf] hover:rounded-full mt-1.5 mb-1.5 ml-1 cursor-pointer">
              <span class="text-[14px] text-[#05192d] whitespace-nowrap leading-[30px] ml-4 mr-4">Aprenda</span>
            </a>
            <a class="hover:bg-[#dadadf] hover:rounded-full mt-1.5 mb-1.5 ml-1 mr-2 cursor-pointer">
              <span class="text-[14px] text-[#05192d] whitespace-nowrap leading-[30px] ml-4 mr-4">Instrutor</span>
            </a>
          </div>
        </div>
  
        <form action="{% url 'learn:courses' %}" method="GET" class="flex items-center">
          <label class="sr-only text-sm">Search</label>
            <div class="relative w-80">
                <div class="absolute inset-y-0 left-0 flex items-center pl-4 pointer-events-none">
                  <svg width="16" height="16" aria-hidden="true" viewBox="0 0 18 18" class=""><path fill="gray-800" d="m13.26 12.303 4.408 3.953a1 1 0 0 1-1.336 1.488L11.78 13.66a7.5 7.5 0 1 1 1.482-1.358ZM7.5 13a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11Z"></path></svg>
                </div>
                <input type="text" name="titulo" class="border-2 border-[#05192d26] text-[14px] rounded-full focus:ring-blue-50 focus:border-blue-500 block h-8 w-80 pl-10 p-3 outline-offset-0 focus:outline-none" placeholder="Search">
                <button hidden="True" type="submit"></button>
            </div> 
        </form>
  

      <div class="flex">
        <button id="dropdownDefaultButton" data-dropdown-toggle="dropdownNotification" class="relative inline-flex items-center text-sm font-medium text-center text-gray-700 hover:bg-gray-100 p-2 mr-4 rounded-full" type="button"> 
          <svg width="16" height="16" aria-hidden="true" viewBox="0 0 18 18"><path fill="currentColor" d="M10.995 2.14c2.764.494 3.874 2.202 4.71 5.79.67 2.877.983 4.081 1.537 5.32.501.423.752.984.758 1.725v.047C17.983 17.582 15.038 18 9 18c-6.035 0-8.98-.418-9-2.974v-.053c.006-.648.2-1.159.583-1.56a27.52 27.52 0 0 0 .916-2.778c.147-.534.278-1.064.428-1.71.039-.164.285-1.247.355-1.543.794-3.347 1.9-4.86 4.72-5.276a2 2 0 1 1 3.992.034Zm-1.75 1.845a2.02 2.02 0 0 1-.505-.002c-3.102.027-3.77.735-4.512 3.86-.068.286-.312 1.362-.353 1.535a45.228 45.228 0 0 1-.447 1.786c-.11.397-.224.787-.346 1.173C4.533 12.072 6.502 12 9 12c2.407 0 4.322.066 5.756.308-.293-.95-.581-2.134-.999-3.924-.804-3.449-1.541-4.345-4.512-4.399ZM9 16c3.866 0 7-.448 7-1s-3.134-1-7-1-7 .448-7 1 3.134 1 7 1Z"></path></svg>
        </button>
        
          <div id="dropdownNotification" class="hidden" 
            style="position: absolute;margin: 0px; padding: 8px 0px; outline: 0px; list-style: none; border-radius: 4px;
            box-shadow: rgba(5, 25, 45, 0.3) 0px 8px 12px -4px; top: 53px;background-color: rgb(255, 255, 255); 
            border: 1px solid rgba(5, 25, 45, 0.15); width: 340px;" aria-labelledby="dropdownNotificationButton">
            <div style="color: #05192d; font-size: 100%; font-weight: 400;line-height: 1.5;">

          <p class="mb-4 mt-2 text-sm text-center">Voce não possui notificações</p>
          <hr class="mb-2">

          <a style="background-color: rgba(5, 25, 45, 0.1); position: relative; display: inline-flex; -moz-box-align: center; align-items: center; -moz-box-pack: center;
            justify-content: center; flex-shrink: 0; vertical-align: middle; text-decoration: none; font-weight: 800; line-height: 1;
            margin: 0px 8px; margin-bottom: 7px; padding: 0px 16px; outline: 0px; border-style: solid; border-radius: 4px; border-width: 2px; user-select: none;
            cursor: pointer; height: 36px; min-width: 36px; flex-direction: column; font-size: 14px; color: rgb(5, 25, 45); background-color: transparent;
            border-color: rgba(5, 25, 45, 0.6); width: calc(100% - 16px);">
                Ver todas
          </a>
          </div>
        
      </div>

      <div class="relative">
        <button id="dropdownDefaultButton" data-dropdown-toggle="dropdownUser" class="flex items-center justify-end hover:bg-[#EFEFF5] rounded-full p-1">
          <div class="relative flex shrink-0 select-none items-center justify-center bg-[#0288D1] font-bold uppercase text-slate-800 h-6 w-6 text-xs rounded-full">
            <span class="text-white"></span>
          </div>
          <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
          </svg>
        </button>
      
        <div id="dropdownUser" class="absolute hidden">
          <div class="w-[240px] list-none m-0 py-4 bg-white border shadow">
            <div class="text-sm leading-6">
              <a class="relative flex items-center justify-center cursor-pointer rounded-md hover:bg-[#efeff5] px-3 ml-2 mr-2">
                <svg width="16" height="16" aria-hidden="true" viewBox="0 0 18 18"><path fill="currentColor" d="M7.186 15.621a3.047 3.047 0 0 1 3.628 0l.25.186a7.053 7.053 0 0 0 1.29-.535l.045-.308a3.047 3.047 0 0 1 2.565-2.565l.308-.046c.22-.41.4-.842.535-1.289l-.186-.25a3.047 3.047 0 0 1 0-3.628l.186-.25a7.053 7.053 0 0 0-.535-1.29l-.308-.045A3.047 3.047 0 0 1 12.4 3.036l-.046-.308c-.41-.22-.842-.4-1.289-.535l-.25.186a3.047 3.047 0 0 1-3.628 0l-.25-.186a7.053 7.053 0 0 0-1.29.535l-.045.308A3.047 3.047 0 0 1 3.036 5.6l-.308.046c-.22.41-.4.842-.535 1.289l.186.25a3.047 3.047 0 0 1 0 3.628l-.186.25c.136.447.315.879.535 1.29l.308.045A3.047 3.047 0 0 1 5.6 14.964l.046.308c.41.22.842.4 1.289.535l.25-.186ZM7.388 18a9.092 9.092 0 0 1-3.612-1.497l-.184-1.24a1.016 1.016 0 0 0-.856-.855l-1.24-.184A9.092 9.092 0 0 1 0 10.612l.747-1.007c.266-.36.266-.85 0-1.21L0 7.388a9.092 9.092 0 0 1 1.497-3.612l1.24-.184c.442-.066.789-.413.855-.856l.184-1.24A9.092 9.092 0 0 1 7.388 0l1.007.747c.36.266.85.266 1.21 0L10.612 0a9.092 9.092 0 0 1 3.612 1.497l.184 1.24c.066.442.413.789.856.855l1.24.184A9.092 9.092 0 0 1 18 7.388l-.747 1.007c-.266.36-.266.85 0 1.21L18 10.612a9.092 9.092 0 0 1-1.497 3.612l-1.24.184a1.016 1.016 0 0 0-.855.856l-.184 1.24A9.092 9.092 0 0 1 10.612 18l-1.007-.747a1.016 1.016 0 0 0-1.21 0L7.388 18ZM9 13.063a4.063 4.063 0 1 1 0-8.126 4.063 4.063 0 0 1 0 8.126Zm0-2.032A2.031 2.031 0 1 0 9 6.97a2.031 2.031 0 0 0 0 4.062Z"></path></svg>
                <span class="flex grow ml-2 pt-1.5 pb-1.5">
                  <span class="block overflow-hidden text-[14px] text-gray-800 leading-6">Configurações da conta</span>
                </span>
              </a>
              <div class="bg-[#efeff5] m-2" style="height: 1px;"></div>
              <a class="relative flex items-center justify-center cursor-pointer rounded-md hover:bg-[#efeff5] px-3 ml-2 mr-2">
                <svg width="14" height="14" aria-hidden="true" viewBox="0 0 18 18"><path fill="currentColor" d="M8 0a1 1 0 0 1 1 1v3.41a1 1 0 1 1-2 0V2H2v14h5v-2.428a1 1 0 1 1 2 0V17a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V1a1 1 0 0 1 1-1h7Zm5.725 4.294 3.942 3.958a.997.997 0 0 1-.002 1.498l-3.956 3.957a1 1 0 0 1-1.497-1.322l.083-.094L14.58 10 5 10.002a1 1 0 1 1 0-2L14.593 8l-2.287-2.296a.998.998 0 0 1 .003-1.413 1.001 1.001 0 0 1 1.415.003Z"></path></svg>
                <span class="flex grow ml-2 pt-1.5 pb-1.5">
                  <span class="block overflow-hidden text-[14px] text-gray-800 leading-6">Log Out</span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
  </header>
</div>
    
<script>

var caminho_atual = window.location.pathname;
var div_nav = document.querySelector('#nav');
var links_navbar = div_nav.querySelectorAll('a');

links_navbar.forEach(function(link) {
  var caminho_link = link.getAttribute('href');

  if (caminho_atual.endsWith(caminho_link)) {
    link.classList.remove('hover:bg-[#dadadf]', 'hover:rounded-full');
    link.classList.add('bg-[#05192d]', 'rounded-full');
    var spans = link.querySelectorAll('span');
    spans.forEach(function(span) {
      span.classList.add('text-white', 'font-medium');
      span.classList.remove('text-[#05192d]');
    });
  }
});

</script>
