<aside class="w-60 flex-none top-0 left-0 bg-[#000820;] px-6 py-20 overflow-y-auto border-r rtl:border-r-0 rtl:border-l dark:bg-gray-900 dark:border-gray-700" style="position: fixed; height: 100vh; font-family: 'Studio-Feixen' system-ui, -apple-system;">	
    <div class="flex flex-col justify-between flex-1">
        <nav class="-mx-2 space-y-5 ">
        <div>

            <a class="flex items-center px-1 py-2 text-white transition-colors duration-300 transform" href="{% url 'learn:progress' %}">
            <svg width="16" height="16" aria-hidden="true" viewBox="0 0 18 18"><path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M13.2 13.932a3.654 3.654 0 0 0 1.032-3.109 25.039 25.039 0 0 1-.064-.478c1.717-1.966 3.3-5.07 3.451-7.952a1.827 1.827 0 0 0-1.92-1.92C12.825.624 9.727 2.202 7.764 3.91a18.361 18.361 0 0 1-.52-.065A3.654 3.654 0 0 0 4.17 4.882L2.882 6.171C.688 8.364.991 8.667 3.815 9.253l2.334.467c.283.522.588.952.929 1.293.342.342.771.646 1.294.929l.467 2.335c.546 2.784.888 3.127 3.082.933l1.279-1.278zM8.478 5.74c1.722-1.722 4.592-3.3 7.318-3.444-.143 2.726-1.722 5.596-3.444 7.318-.082.082-.058.573.073 1.472a1.824 1.824 0 0 1-.516 1.554l-1.279 1.279-.646-3.228c-.75-.319-1.288-.642-1.614-.969-.326-.326-.649-.864-.969-1.614l-3.228-.646 1.289-1.289a1.826 1.826 0 0 1 1.537-.518c.918.125 1.411.153 1.479.085zm4.505 1.413a1.37 1.37 0 1 1-1.937-1.936 1.37 1.37 0 0 1 1.937 1.936zM2.787 12.514a.1.1 0 0 0-.008.184l.281.132c.437.205.623.74.385 1.107l-.459.708c-.117.181.096.394.277.277l.708-.459c.367-.238.901-.052 1.107.385l.132.281a.1.1 0 0 0 .184-.008l.577-1.569c.691.322 1.02 1.12.757 1.835l-.636 1.728c-.215.584-1.063.536-1.351-.077l-.522-1.111-2.652 1.493c-.642.416-1.495-.437-1.078-1.079l1.493-2.653-1.111-.522c-.613-.288-.662-1.136-.077-1.351l1.728-.636a1.466 1.466 0 0 1 1.835.757l-1.57.578z"></path></svg>

            <span class="mx-2 text-[14px]">Progresso</span>
            </a>


            <a class="flex items-center px-1 py-2 text-[#b4bbc0] float-none transition-colors duration-300 transform dark:text-gray-200 hover:text-white " href="">
            <svg width="16" height="16" aria-hidden="true" viewBox="0 0 18 18"><path fill="currentColor" d="M4 0h10a2 2 0 0 1 2 2v14.828a1 1 0 0 1-1.65.76L8.988 13l-5.337 4.582A1 1 0 0 1 2 16.823V2a2 2 0 0 1 2-2Zm10 2H4v12.647l4.986-4.281L14 14.656V2Z"></path></svg>

            <span class="mx-2 text-[14px] leading-[17.5px]">Sua lista</span>
            </a>
        </div>            

        <div class="space-y-2 ">
            <label class="p-1 text-[0.70rem] font-normal tracking-wide text-white uppercase dark:text-gray-400">aprenda</label>

            <a class="flex items-center px-2 py-2 text-[#b4bbc0] font-normal transition-colors duration-300 transform dark:text-gray-200 hover:text-white " href="">
            <svg width="16" height="16" aria-hidden="true" viewBox="0 0 18 18"><path fill="currentColor" d="m13 6.3 3.331-2.998A1 1 0 0 1 18 4.045v9.91a1 1 0 0 1-1.669.743L13 11.7V14c0 .552-.485 1-1.083 1H1.083C.485 15 0 14.552 0 14V4c0-.552.485-1 1.083-1h10.834C12.515 3 13 3.448 13 4v2.3Zm0 2.69v.02l3 2.7V6.29l-3 2.7ZM2 5v8h9V5H2Z"></path></svg>
            <span class="mx-2 text-[14px]">Cursos</span>
            </a>

            <a class="flex items-center px-1 py-2 text-[#b4bbc0] transition-colors duration-300 transform dark:text-gray-200 hover:text-white " href="">
            <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125" />
            </svg>
            

            <span class="mx-2 text-[14px]">Data Science</span>
            </a>

            <a class="flex items-center px-1 py-2 text-[#b4bbc0] transition-colors duration-300 transform dark:text-gray-200 hover:text-white " href="">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                <path d="M18.375 2.25c-1.035 0-1.875.84-1.875 1.875v15.75c0 1.035.84 1.875 1.875 1.875h.75c1.035 0 1.875-.84 1.875-1.875V4.125c0-1.036-.84-1.875-1.875-1.875h-.75zM9.75 8.625c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-.75a1.875 1.875 0 01-1.875-1.875V8.625zM3 13.125c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v6.75c0 1.035-.84 1.875-1.875 1.875h-.75A1.875 1.875 0 013 19.875v-6.75z" />
            </svg>
            
            <span class="mx-2 text-[14px]">Data Analysis</span>
            </a>

            <a class="flex items-center px-1 py-2 text-[#b4bbc0] transition-colors duration-300 transform dark:text-gray-200 hover:text-white " href="">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z" />
            </svg>

            <span class="mx-2 text-[14px]">Web Development</span>
            </a>

            <a class="flex items-center px-1 py-2 text-[#b4bbc0] transition-colors duration-300 transform dark:text-gray-200 hover:text-white " href="">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z" />
            </svg>

            <span class="mx-2 text-[14px]">Artificial Inteligence</span>
            </a>              
        </div>

        </nav>
    </div>
</aside>