<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Página Inicial</title>
</head>

<body>
  <div class="bg-white">

    <header class="absolute inset-x-0 top-0 z-50">
      <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div class="flex lg:flex-1">
          <a href="#" class="-m-1.5 p-1.5">
            <span class="sr-only">Your Company</span>
            <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
          </a>
        </div>
        <div class="flex lg:hidden">
          <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
            <span class="sr-only">Open main menu</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
          </button>
        </div>
        <div class="hidden lg:flex lg:gap-x-12">
          <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Quem somos</a>
          <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Alunos</a>
          <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Cursos</a>
          <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Blog</a>
        </div>
        <div class="hidden lg:flex lg:flex-1 lg:justify-end">
          <a href="{% url 'logar' %}" class="text-sm font-semibold leading-6 text-gray-900">Log in <span aria-hidden="true">&rarr;</span></a>
        </div>
      </nav>
      </div>
    </header>
  
      <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
        <div class="hidden sm:mb-8 sm:flex sm:justify-center">
          <div class="relative rounded-full px-3 py-1 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
            Torne-se um instrutor. <a href="{% url 'cadastro' %}" class="font-semibold text-indigo-600"><span class="absolute inset-0" aria-hidden="true"></span> Ensine na tech <span aria-hidden="true">&rarr;</span></a>
          </div> 
        </div>

        <div class="text-center">
          <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl ">Comece aprender agora</h1>
          <p class="mt-6 text-lg leading-8 text-gray-600">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.</p>
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <a href="{% url 'cadastro' %}" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Cadastre-se</a>
            <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Nossos cursos <span aria-hidden="true">→</span></a>
          </div>
        </div>
    </div>
  </div>

  <div class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0">
    <div class="absolute inset-0 -z-10 overflow-hidden">
      <svg class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]" aria-hidden="true">
        <defs>
          <pattern id="e813992c-7d03-4cc4-a2bd-151760b470a0" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
            <path d="M100 200V.5M.5 .5H200" fill="none" />
          </pattern>
        </defs>
        <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
          <path d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z" stroke-width="0" />
        </svg>
        <rect width="100%" height="100%" stroke-width="0" fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)" />
      </svg>
    </div>
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
      <div class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
        <div class="lg:pr-4">
          <div class="lg:max-w-lg">
            <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Nossa plataforma</h1>
            <p class="mt-6 text-xl leading-8 text-gray-700">Aliquet nec orci mattis amet quisque ullamcorper neque, nibh sem. At arcu, sit dui mi, nibh dui, diam eget aliquam. Quisque id at vitae feugiat egestas.</p>
          </div>
        </div>
      </div>
      <div class="-ml-12 -mt-12 p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
        <img class="w-[48rem] max-w-none rounded-xl bg-gray-900 shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem]" src="https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&crop=focalpoint&fp-x=.4&w=2560&h=3413&&q=80" alt="">
      </div>
      <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
        <div class="lg:pr-4">
          <div class="max-w-xl text-base leading-7 text-gray-700 lg:max-w-lg">
            <p>Faucibus commodo massa rhoncus, volutpat. Dignissim sed eget risus enim. Mattis mauris semper sed amet vitae sed turpis id. Id dolor praesent donec est. Odio penatibus risus viverra tellus varius sit neque erat velit. Faucibus commodo massa rhoncus, volutpat. Dignissim sed eget risus enim. Mattis mauris semper sed amet vitae sed turpis id.</p>
            <ul role="list" class="mt-8 space-y-8 text-gray-600">
              <li class="flex gap-x-3">
                <svg class="mt-1 h-5 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M5.5 17a4.5 4.5 0 01-1.44-8.765 4.5 4.5 0 018.302-3.046 3.5 3.5 0 014.504 4.272A4 4 0 0115 17H5.5zm3.75-2.75a.75.75 0 001.5 0V9.66l1.95 2.1a.75.75 0 101.1-1.02l-3.25-3.5a.75.75 0 00-1.1 0l-3.25 3.5a.75.75 0 101.1 1.02l1.95-2.1v4.59z" clip-rule="evenodd" />
                </svg>
                <span><strong class="font-semibold text-gray-900">Aulas online.</strong> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.</span>
              </li>
              <li class="flex gap-x-3">
                <svg class="mt-1 h-5 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                </svg>
                <span><strong class="font-semibold text-gray-900">Crescimento da carreira.</strong> Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo.</span>
              </li>
              <li class="flex gap-x-3">
                <svg class="mt-1 h-5 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path d="M4.632 3.533A2 2 0 016.577 2h6.846a2 2 0 011.945 1.533l1.976 8.234A3.489 3.489 0 0016 11.5H4c-.476 0-.93.095-1.344.267l1.976-8.234z" />
                  <path fill-rule="evenodd" d="M4 13a2 2 0 100 4h12a2 2 0 100-4H4zm11.24 2a.75.75 0 01.75-.75H16a.75.75 0 01.75.75v.01a.75.75 0 01-.75.75h-.01a.75.75 0 01-.75-.75V15zm-2.25-.75a.75.75 0 00-.75.75v.01c0 .414.336.75.75.75H13a.75.75 0 00.75-.75V15a.75.75 0 00-.75-.75h-.01z" clip-rule="evenodd" />
                </svg>
                <span><strong class="font-semibold text-gray-900">Professores qualificados.</strong> Ac tincidunt sapien vehicula erat auctor pellentesque rhoncus. Et magna sit morbi lobortis.</span>
              </li>
            </ul>
            <p class="mt-8">Et vitae blandit facilisi magna lacus commodo. Vitae sapien duis odio id et. Id blandit molestie auctor fermentum dignissim. Lacus diam tincidunt ac cursus in vel. Mauris varius vulputate et ultrices hac adipiscing egestas. Iaculis convallis ac tempor et ut. Ac lorem vel integer orci.</p>
            <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">Lorem Ipsum.</h2>
            <p class="mt-6">Id orci tellus laoreet id ac. Dolor, aenean leo, ac etiam consequat in. Convallis arcu ipsum urna nibh. Pharetra, euismod vitae interdum mauris enim, consequat vulputate nibh. Maecenas pellentesque id sed tellus mauris, ultrices mauris. Tincidunt enim cursus ridiculus mi. Pellentesque nam sed nullam sed diam turpis ipsum eu a sed convallis diam.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section>
    <h2 class="text-4xl text-center font-bold dark:text-white">O que dizem nossos alunos</h2>
    <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
      <div
        class="[column-fill:_balance] sm:columns-2 sm:gap-6 lg:columns-3 lg:gap-8">
        <div class="mb-8 sm:break-inside-avoid">
          <blockquote class="rounded-xl bg-gray-50 p-6 shadow">
            <p class="leading-relaxed text-gray-700">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
              minima dicta amet, molestiae aliquam incidunt suscipit recusandae
              labore ratione doloremque, architecto et illo minus quo tenetur
              ducimus, voluptatibus repellendus fuga aperiam vel ab! Ipsam
              corrupti blanditiis dolorum! Officia assumenda rem nam, eveniet enim
              ad inventore laudantium est illum voluptatem quis.
            </p>
          </blockquote>
  
          <div class="mt-4 flex items-center gap-4">
            <img
              alt="Woman"
              src="https://images.unsplash.com/photo-1603366445787-09714680cbf1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=944&q=80"
              class="h-12 w-12 rounded-full object-cover"
            />
  
            <div class="text-sm">
              <p class="font-medium">Gladis Lennon</p>
              <p class="mt-1">Software Engineer</p>
            </div>
          </div>
        </div>
  
        <div class="mb-8 sm:break-inside-avoid">
          <blockquote class="rounded-xl bg-gray-50 p-6 shadow">
            <p class="leading-relaxed text-gray-700">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore vel
              quo deserunt quos expedita minima incidunt sed tempora, a architecto
              consectetur reprehenderit, in repellat voluptatum.
            </p>
          </blockquote>
  
          <div class="mt-4 flex items-center gap-4">
            <img
              alt="Woman"
              src="https://images.unsplash.com/photo-1603366445787-09714680cbf1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=944&q=80"
              class="h-12 w-12 rounded-full object-cover"
            />
  
            <div class="text-sm">
              <p class="font-medium">Gladis Lennon</p>
              <p class="mt-1">Software Engineer</p>
            </div>
          </div>
        </div>
  
        <div class="mb-8 sm:break-inside-avoid">
          <blockquote class="rounded-xl bg-gray-50 p-6 shadow">
            <p class="leading-relaxed text-gray-700">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio
              beatae incidunt perferendis soluta facilis voluptas dicta
              repudiandae quasi asperiores libero, exercitationem molestiae autem
              sapiente dolore nulla non consequatur. Eaque, dolores.
            </p>
          </blockquote>
  
          <div class="mt-4 flex items-center gap-4">
            <img
              alt="Woman"
              src="https://images.unsplash.com/photo-1603366445787-09714680cbf1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=944&q=80"
              class="h-12 w-12 rounded-full object-cover"
            />
  
            <div class="text-sm">
              <p class="font-medium">Gladis Lennon</p>
              <p class="mt-1">Software Engineer</p>
            </div>
          </div>
        </div>
  
        <div class="mb-8 sm:break-inside-avoid">
          <blockquote class="rounded-xl bg-gray-50 p-6 shadow">
            <p class="leading-relaxed text-gray-700">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus
              doloribus eius aut unde, dolores accusantium!
            </p>
          </blockquote>
  
          <div class="mt-4 flex items-center gap-4">
            <img
              alt="Woman"
              src="https://images.unsplash.com/photo-1603366445787-09714680cbf1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=944&q=80"
              class="h-12 w-12 rounded-full object-cover"
            />
  
            <div class="text-sm">
              <p class="font-medium">Gladis Lennon</p>
              <p class="mt-1">Software Engineer</p>
            </div>
          </div>
        </div>
  
        <div class="mb-8 sm:break-inside-avoid">
          <blockquote class="rounded-xl bg-gray-50 p-6 shadow">
            <p class="leading-relaxed text-gray-700">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi a
              voluptatum quidem nulla quisquam natus velit provident earum esse,
              odio numquam labore recusandae similique sunt.
            </p>
          </blockquote>
  
          <div class="mt-4 flex items-center gap-4">
            <img
              alt="Woman"
              src="https://images.unsplash.com/photo-1603366445787-09714680cbf1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=944&q=80"
              class="h-12 w-12 rounded-full object-cover"
            />
  
            <div class="text-sm">
              <p class="font-medium">Gladis Lennon</p>
              <p class="mt-1">Software Engineer</p>
            </div>
          </div>
        </div>
  
        <div class="mb-8 sm:break-inside-avoid">
          <blockquote class="rounded-xl bg-gray-50 p-6 shadow">
            <p class="leading-relaxed text-gray-700">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius ut
              necessitatibus, repudiandae qui dolor minima.
            </p>
          </blockquote>
  
          <div class="mt-4 flex items-center gap-4">
            <img
              alt="Woman"
              src="https://images.unsplash.com/photo-1603366445787-09714680cbf1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=944&q=80"
              class="h-12 w-12 rounded-full object-cover"
            />
  
            <div class="text-sm">
              <p class="font-medium">Gladis Lennon</p>
              <p class="mt-1">Software Engineer</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


<footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="#" class="hover:underline">Tech™</a>. All Rights Reserved.
  </span>
  <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
      <li>
          <a href="#" class="mr-4 hover:underline md:mr-6 ">Sobre</a>
      </li>
      <li>
          <a href="#" class="mr-4 hover:underline md:mr-6">Politica de privacidade</a>
      </li>
      <li>
          <a href="#" class="mr-4 hover:underline md:mr-6">Licensa</a>
      </li>
      <li>
          <a href="#" class="hover:underline">Contato</a>
      </li>
  </ul>
  </div>
</footer>

    
  
</body>
</html>