{% load static %}

<!DOCTYPE html>
<html lang="pt-br" class="h-full bg-white">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Login - Tech</title>
</head>

<body class="bg-gray-50">
  {% load socialaccount %}

<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
 
{% if messages %}
  {% for message in messages %}
    <div class="flex space-x-4 rounded-lg bg-slate-50 p-4 ring-1 ring-slate-200" role="alert">

      <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 256 256" class="h-5 w-5 shrink-0 fill-slate-950" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
        <path d="M108,84a16,16,0,1,1,16,16A16,16,0,0,1,108,84Zm128,44A108,108,0,1,1,128,20,108.12,108.12,0,0,1,236,128Zm-24,0a84,84,0,1,0-84,84A84.09,84.09,0,0,0,212,128Zm-72,36.68V132a20,20,0,0,0-20-20,12,12,0,0,0-4,23.32V168a20,20,0,0,0,20,20,12,12,0,0,0,4-23.32Z">
        </path>
      </svg>
    
      <div>      
        <h3 class="text-sm font-medium text-slate-950">{{ message }}</h3>
      </div>
    
    </div>
  {% endfor %}
{% endif %}


<section>
  <div class="flex items-center justify-center mx-auto md:h-screen lg:py-0">
      
      <div class="w-full bg-white rounded-md shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
          <div class="space-y-4 md:space-y-6 sm:p-9">
              <h1 class="text-2xl pt-0 font-medium leading-tight text-center tracking-tight text-gray-900 md:text-2xl dark:text-white">
                  Bem vindo de volta!
              </h1>
              <form class="space-y-1 mr-3 md:space-y-6" action="{% url 'logar' %}" method="POST">{% csrf_token %}
                
                  <div>
                      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                      <input type="email" name="email" id="email" class="bg-white border-2 border-gray-200 rounded-md p-3 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Email" required="">
                  </div>
                  <div>
                      <label for="password" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Senha</label>
                      <input type="password" name="password" id="password" placeholder="Senha" class="bg-white border-2 border-gray-200 rounded-md p-3 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                      <div class="text-sm flex justify-end mt-2">
                        <a href="{% url 'reset_password' %}" class="font-base text-gray-500">Esqueceu a senha?</a>
                      </div>
            
                  </div>
                  <button type="submit" class="w-full text-[#041c2c] bg-[#04ea63] hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Fazer login</button>
                  
                <div class="border-b text-center">
                  <div
                      class="leading-none px-2 inline-block text-sm text-gray-600 tracking-wide font-medium bg-white transform translate-y-1/2">
                      Ou
                  </div>
                </div>
                <a href="{% provider_login_url 'google' %}" class="flex items-center justify-center text-white rounded-lg border-2 border-gray-200 hover:bg-gray-100">
                    <div class="px-4 py-3">
                        <svg class="h-6 w-6" viewBox="0 0 40 40">
                            <path
                                d="M36.3425 16.7358H35V16.6667H20V23.3333H29.4192C28.045 27.2142 24.3525 30 20 30C14.4775 30 10 25.5225 10 20C10 14.4775 14.4775 9.99999 20 9.99999C22.5492 9.99999 24.8683 10.9617 26.6342 12.5325L31.3483 7.81833C28.3717 5.04416 24.39 3.33333 20 3.33333C10.7958 3.33333 3.33335 10.7958 3.33335 20C3.33335 29.2042 10.7958 36.6667 20 36.6667C29.2042 36.6667 36.6667 29.2042 36.6667 20C36.6667 18.8825 36.5517 17.7917 36.3425 16.7358Z"
                                fill="#FFC107" />
                            <path
                                d="M5.25497 12.2425L10.7308 16.2583C12.2125 12.59 15.8008 9.99999 20 9.99999C22.5491 9.99999 24.8683 10.9617 26.6341 12.5325L31.3483 7.81833C28.3716 5.04416 24.39 3.33333 20 3.33333C13.5983 3.33333 8.04663 6.94749 5.25497 12.2425Z"
                                fill="#FF3D00" />
                            <path
                                d="M20 36.6667C24.305 36.6667 28.2167 35.0192 31.1742 32.34L26.0159 27.975C24.3425 29.2425 22.2625 30 20 30C15.665 30 11.9842 27.2359 10.5975 23.3784L5.16254 27.5659C7.92087 32.9634 13.5225 36.6667 20 36.6667Z"
                                fill="#4CAF50" />
                            <path
                                d="M36.3425 16.7358H35V16.6667H20V23.3333H29.4192C28.7592 25.1975 27.56 26.805 26.0133 27.9758C26.0142 27.975 26.015 27.975 26.0158 27.9742L31.1742 32.3392C30.8092 32.6708 36.6667 28.3333 36.6667 20C36.6667 18.8825 36.5517 17.7917 36.3425 16.7358Z"
                                fill="#1976D2" />
                        </svg>
                    </div>
                    <h1 class="px-4 py-3 w-5/6 text-center text-gray-600 font-bold">Prosseguir com Google</h1>
                </a>  
                <p class="text-sm text-[#596774] ml-1 ">Ainda não possui uma conta? <a class="" href="{% url 'cadastro' %}" >Cadastre-se</a> </p>

              </form>
          </div>
      </div>
  </div>
</section>

</body>
</html>