<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Redefinição De Senha</title>
</head>

<body>
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
          <h2 class="mt-10 text-center text-3xl font-semibold leading-9 tracking-tight text-gray-900"> Redefinição de senha </h2>
          <p class="text-center ... text-gray-600  p-4 ...">Informe seu email e te enviaremos um link para resetar sua senha.</p>
        </div>
      
        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
          <form class="space-y-4 " method="POST">
            {% csrf_token %}

            <div>
              <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email</label>
              <div class="mt-2">
                <input id="email" name="email" type="email" autocomplete="email" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
              </div>
            </div>
      
            <div>
              <button type="submit" style="background-color: #6366F1; color: white;" class="flex w-full justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                Enviar
              </button>
            </div>

            <p class="mt-10 text-center text-sm text-gray-500">
                Não tem uma conta?
                <a href="{% url 'cadastro' %}" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Cadastre-se</a>
            </p>

          </form>
    
        </div>
      </div>
    
</body>

</html>