<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Nova senha</title>
</head>
<body>
  
  <div>
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white"></a>

    <div class="w-full p-6 bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md dark:bg-gray-800 dark:border-gray-700 sm:p-8">
      <h2 class="mb-1 text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
        Redefinição De Senha
      </h2>
      <form class="mt-4 space-y-4 lg:mt-5" method="POST">
        {% csrf_token %}
      
        <div>
          <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nova senha:</label>
        </div>
      
        {{ form.new_password1 }}

        {% if form.new_password1.errors %}
          <div class="text-red-500">
            {% for error in form.new_password1.errors %}
              <span class="block">{{ error }}</span>
            {% endfor %}
          </div>
        {% endif %}
    
      
        <div>
          <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirmar nova senha:</label>
        </div>
        {{ form.new_password2 }}
      
        {% if form.new_password2.errors %}
          <div class="text-red-500">
            {% for error in form.new_password2.errors %}
              <span class="block">{{ error }}</span>
            {% endfor %}
          </div>
        {% endif %}
      
        <button type="submit" class="w-full text-white bg-indigo-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Redefinir senha</button>
      </form>
  </div>

</body>
</html>
