<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Aulas</title>
</head>


<body class="flex">

  {% include 'base/menu_etapas.html' %}

<div class="flex-1">
    <form action="{% url 'professores:adicionar_video_aula' %}" method="POST" enctype="multipart/form-data" class="ml-10 px-4 py-8">{% csrf_token %}
        <div class="space-y-12">
          
          {% if messages %}
            {% for message in messages %}          
              <div class="flex items-center p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <svg class="flex-shrink-0 inline w-4 h-4 mr-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                </svg>
                <span class="sr-only">Info</span>
                <div>
                  <span class="font-medium">Informações não salvas!</span> {{ message }}
                </div>
              </div>
            {% endfor %}
          {% endif %}
  
        <div class="border-b border-gray-900/10 pb-10">

          <nav class="flex mb-5" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-3">
              <li class="inline-flex items-center">
                <a href="{% url 'professores:area_do_professor' %}" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                  <svg class="w-3 h-3 mr-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
                  </svg>
                  Meus cursos
                </a>
              </li>
              <li>
                <div class="flex items-center">
                  <svg class="w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                  </svg>
                  <a href="#" class="ml-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ml-2 dark:text-gray-400 dark:hover:text-white">Etapas</a>
                </div>
              </li>
              <li aria-current="page">
                <div class="flex items-center">
                  <svg class="w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                  </svg>
                  <span class="ml-1 text-sm font-medium text-gray-500 md:ml-2 dark:text-gray-400">Upload de vídeos</span>
                </div>
              </li>
            </ol>
          </nav>

          <h2 class=" text-2xl font-semibold leading-7 text-gray-900">Suas Aulas</h2>
        </div>

        <div class="flex p-4 mb-4 text-sm text-gray-800 border border-gray-300 rounded-lg bg-white dark:bg-gray-800 dark:text-blue-400 dark:border-blue-800" role="alert">
            <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
            <span class="sr-only">Info</span>
            <div>
              Aqui você pode adicionar o contéudo do seu curso.
            </div>
        </div>

        <div>
            <p class="text-sm text-left"> 
                Carregue as suas aulas para finalizar a criação do seu curso.
            </p>
        </div>

        <div class="container mx-auto">
            <div class="border-b border-gray-900/10 pb-12">
                <h2 class="text-base font-semibold leading-7 text-gray-900">Aulas</h2>
                <p class="mt-1 text-sm leading-6 text-gray-600"></p>
          
                <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                  <div class="sm:col-span-3">
                    <label for="titulo_aula" class="block text-sm font-medium leading-6 text-gray-900">Título</label>
                    <div class="mt-2">
                      <input type="text" name="titulo_aula" id="titulo_aula" placeholder="Por exemplo: Aula 1: Introdução" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 pl-2">
                    </div>
                  </div>
          
                  <div class="col-span-full">
                    <label for="descricao_aula" class="block text-sm font-medium leading-6 text-gray-900">Descrição</label>
                    <div class="mt-2">
                      <textarea id="descricao_aula" name="descricao_aula" rows="3" placeholder="Forneça detalhes sobre a aula" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 pl-2"></textarea>
                    </div>
                  </div>
                </div>

                <label class="block mt-5 text-sm font-medium text-gray-900 dark:text-white"> Upoload de video </label>
                <input class="block mt-2 w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" name="aula" id="aula" type="file">

                <div class="sm:col-span-3">
                    <label for="modulo" class="block mt-5 text-sm font-medium leading-6 text-gray-900">Selecione o módulo</label>
                    <div class="mt-2">
                      <select id="modulo" name="modulo" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                        {% if modulos %}
                            <option value="">Selecione um módulo</option>
                        {% for modulo in modulos %}
                          <option value="{{ modulo.id }}">{{modulo.titulo}}</option>
                        {% endfor %}    
                        {% else %}
                            <option value="" disabled selected>Nenhum módulo criado</option>
                       {% endif %}
                      </select>
                    </div>
                </div>

                <div class="mt-6 flex items-center justify-end gap-x-6">
                  <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Salvar</button>
              </div>
          </form>
        </div>        
    </form>
    
</div>  

</body>
</html>