{% load static %}

{% load status_filter %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.css" rel="stylesheet" />

	<script src="https://unpkg.com/alpinejs"></script>

	<!-- tippyjs -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tippy.js/6.3.7/tippy.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://unpkg.com/@ryangjchandler/alpine-tooltip@1.2.0/dist/cdn.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


	<!-- Alpine.js -->
	<script src="https://unpkg.com/alpinejs"></script>
	
	<title>Área do professor</title>
</head>

<body class="flex">
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.js"></script>
	
	<aside class="flex w-60 h-screen px-5 py-2 overflow-y-auto bg-[#041c2c] border-r rtl:border-r-0 rtl:border-l dark:bg-gray-900 dark:border-gray-700">
	
		<div class="flex flex-col justify-between flex-1 mt-6">
			<nav class="-mx-3 space-y-6 ">
				<div class="space-y-3 ">

					<a class="flex items-center px-3 py-2 text-[#b4bbc0] transition-colors duration-300 transform bb dark:text-gray-200 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700" href="{% url 'professores:area_do_professor' %}">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
							<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 3v11.25A2.25 2.25 0 006 16.5h2.25M3.75 3h-1.5m1.5 0h16.5m0 0h1.5m-1.5 0v11.25A2.25 2.25 0 0118 16.5h-2.25m-7.5 0h7.5m-7.5 0l-1 3m8.5-3l1 3m0 0l.5 1.5m-.5-1.5h-9.5m0 0l-.5 1.5m.75-9l3-3 2.148 2.148A12.061 12.061 0 0116.5 7.605" />
						</svg>
	
						<span class="mx-2 text-sm font-medium text">Home</span>
					</a>
	
					<a class="flex items-center px-3 py-2 text-[#b4bbc0] transition-colors duration-300 transform dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700" href="{% url 'cursos:aprenda' %}">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
							<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 3v11.25A2.25 2.25 0 006 16.5h2.25M3.75 3h-1.5m1.5 0h16.5m0 0h1.5m-1.5 0v11.25A2.25 2.25 0 0118 16.5h-2.25m-7.5 0h7.5m-7.5 0l-1 3m8.5-3l1 3m0 0l.5 1.5m-.5-1.5h-9.5m0 0l-.5 1.5M9 11.25v1.5M12 9v3.75m3-6v6" />
						</svg>
	
						<span class="mx-2 text-sm font-medium">Aprenda</span>
					</a>
				</div>
	
				<div class="space-y-3 ">
					<label class="px-3 text-xs text-gray-500 uppercase dark:text-gray-400">informações</label>
	
					<a class="flex items-center px-3 py-2 text-[#b4bbc0] transition-colors duration-300 transform dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700" href="#">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
							<path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 00-3.375-3.375h-1.5A1.125 1.125 0 0113.5 7.125v-1.5a3.375 3.375 0 00-3.375-3.375H8.25m0 12.75h7.5m-7.5 3H12M10.5 2.25H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 00-9-9z" />
						</svg>
	
						<span class="mx-2 text-sm font-medium">Fórum</span>
					</a>
	
					<a class="flex items-center px-3 py-2 text-[#b4bbc0] transition-colors duration-300 transform dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700" href="#">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
							<path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12c0-1.232-.046-2.453-.138-3.662a4.006 4.006 0 00-3.7-3.7 48.678 48.678 0 00-7.324 0 4.006 4.006 0 00-3.7 3.7c-.017.22-.032.441-.046.662M19.5 12l3-3m-3 3l-3-3m-12 3c0 1.232.046 2.453.138 3.662a4.006 4.006 0 003.7 3.7 48.656 48.656 0 007.324 0 4.006 4.006 0 003.7-3.7c.017-.22.032-.441.046-.662M4.5 12l3 3m-3-3l-3 3" />
						</svg>
	
						<span class="mx-2 text-sm font-medium">Performance</span>
					</a>
	
					<a class="flex items-center px-3 py-2 text-[#b4bbc0] transition-colors duration-300 transform dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700" href="#">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
							<path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z" />
						</svg>
	
						<span class="mx-2 text-sm font-medium">Configurações</span>
					</a>
					<a  href="{% url 'professores:logout' %}" class="flex items-center px-3 py-2 text-[#b4bbc0] transition-colors duration-300 transform dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700" href="#">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
							<path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z" />
						</svg>
	
						<span class="mx-2 text-sm font-medium">Logout</span>
					</a>
				</div>
	
			</nav>
		</div>
	</aside>

	<section class="container px-20 mx-auto pt-3 bg-gray-50">
		<div class="flex items-center justify-between">

		<nav aria-label="breadcrumb">
			<ol class="inline-flex items-center space-x-2 py-2 text-xl font-medium">
			  <li class="inline-flex items-center">
				<a href="" class="text-secondary-500 hover:text-secondary-600">Instrutor</a>
			  </li>
			  <li class="inline-flex items-center space-x-2">
				<span class="text-secondary-400">/</span>
				<a href="" class="text-secondary-500 hover:text-secondary-600">Cursos</a>
			  </li>

			</ol>
		  </nav>
		  
		<a href="{% url 'professores:adicionar_curso' %}" type="button" class="px-3 py-2 text-xs font-medium text-center inline-flex items-center bg-[#04ec64] text-[#043734] rounded-md">
		    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-4 w-4">
				<path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
			</svg>
			Adicionar curso
		</a>		
		
		
	</div>

	<form action="{% url 'professores:area_do_professor' %}" method="GET">
		<div class="border-b border-b-gray-100 pt-3">

			<div>
				<div class="border-b border-b-gray-100">
				  <ul id="status" name="status" class="-mb-px flex items-center gap-4 text-sm font-medium">
					<li>
					  <button type="submit" onclick="setStatus('')" class="inline-flex cursor-pointer items-center gap-2 px-1 py-3 text-primary-700 hover:text-primary-700">Todos</button>
					</li>
					<li>
					  <button type="submit" onclick="setStatus('Rascunho')" class="inline-flex cursor-pointer items-center gap-2 px-1 py-3 text-primary-700 hover:text-primary-700">Em rascunho</button>
					</li>
					<li>
						<button type="submit" onclick="setStatus('Aprovado')" class="inline-flex cursor-pointer items-center gap-2 px-1 py-3 text-primary-700 hover:text-primary-700">Publicados</button>
					  </li>
					<li>
					  <button type="submit" onclick="setStatus('Pendente')" class="inline-flex cursor-pointer items-center gap-2 px-1 py-3 text-primary-700 hover:text-primary-700"> Pendentes</button>
					</li>
				  </ul>
				  <input type="hidden" name="status" id="status-input" value="">
				</div>
			  </div>
		</div>
	</form>

	<script>
		function setStatus(value) {
		document.getElementById('status-input').value = value;
		}
	</script>
	
	<!-- Search and filter -->
	<div class="mt-10 md:flex md:items-center md:space-x-7">
		
		<form action="{% url 'professores:area_do_professor' %}" method="GET" class="flex items-center ml-2">   
			<label class="sr-only">Search</label>
			<div class="relative w-full">
				<div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
					<svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
						<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5v10M3 5a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm0 10a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0V6a3 3 0 0 0-3-3H9m1.5-2-2 2 2 2"/>
					</svg>
				</div>
				<input type="text" name="titulo" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full pl-10 p-2.1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Pesquisar cursos..." required>
				<button hidden="True"  type="submit" class="btn btn-primary"></button>
			</div>
		</form>		 

	</div>
	<!-- End search and filter  -->
		
	<div class="flex flex-col mt-10">
		<div class="">
				{% if cursos|length == 0 and not request.GET.titulo and not status %}
					<p class="text-sm text-gray-600 ml-4">Você ainda não possui nenhum curso.</p>
				{% elif cursos|length == 0 and request.GET.titulo %}
					<p class="text-sm text-gray-600 ml-4">Não há resultados para esta pesquisa.</p>
				{% elif cursos|length == 0 and status %}
						<p class="text-sm text-gray-600 ml-4">{{ status|filter_status_message }}</p>
				{% else %}
					{% if cursos %}
					<table class="w-full border-collapse bg-white text-left text-sm text-gray-500">
						<thead class="bg-gray-50">
							<tr>
							<th scope="col" class="px-6 py-4 font-medium text-[#072833]">Título</th>
							<th scope="col" class="px-6 py-4 font-medium text-[#072833]">Nível</th>
							<th scope="col" class="px-6 py-4 font-medium text-[#072833]">Categoria</th>
							<th scope="col" class="px-6 py-4 font-medium text-[#072833]">Status</th>
							<th scope="col" class="px-10 py-4 font-medium text-[#072833]">Mais detalhes</th>
							</tr>
						</thead>
						{% for curso in cursos %}
								<tbody class="divide-y divide-gray-100 border-t border-gray-100">
									<tr>
									<th class="px-6 py-4 font-medium text-gray-900">{{ curso.titulo }}</th>
									<td class="px-6 py-4">{{ curso.nivel }}</td>
									<td class="px-6 py-4">{{ curso.categoria }}</td>

									{% if curso.status == 'Aprovado' %}
										<td class="px-6 py-4">
											<span class="inline-flex items-center gap-1 rou						
											nded-full bg-green-50 px-2 py-1 text-xs font-semibold text-green-600">								
											{{ curso.status }}
											</span>
										</td>
										{% elif curso.status == 'Pendente' %}
											<td class="px-6 py-4">
												<span class="inline-flex items-center gap-1 rounded-full bg-gray-50 px-2 py-1 text-xs font-semibold text-gray-600">
												{{ curso.status }}
												</span>
											</td>
										{% elif curso.status == 'Rejeitado' %}
											<td class="px-6 py-4">
												<span class="inline-flex items-center gap-1 rounded-full bg-red-50 px-2 py-1 text-xs font-semibold text-red-600">
												{{ curso.status }}
												</span>
											</td>
										{% elif curso.status == 'Rascunho' %}
											<td class="px-6 py-4">
												<span class="inline-flex items-center gap-1 rounded-full bg-blue-50 px-2 py-1 text-xs font-semibold text-blue-600">
												{{ curso.status }}
												</span>
											</td>

									{% endif %}
									<td class="flex justify-end gap-4 px-6 py-4 font-medium">
										</div>
										
										<a href="{% url 'professores:editar_curso' curso.id %}" class="text-primary-700">Editar</a>
										<a href="{% url 'professores:excluir_curso' curso.id %}" class="text-primary-700">Deletar</a>

									</td>
									</tr>
										
						{% endfor %}
							</tbody>
						</table>		
				{% endif %}
			{% endif %}
		</div>
	</div>
	

		<!-- Pagination -->
		{% if cursos %}
		<div class="mt-10 mb-5 sm:flex sm:items-center sm:justify-between">
			<div class="text-sm text-gray-500 dark:text-gray-400">
				Página <span class="font-medium text-gray-700 dark:text-gray-100">{{ cursos.number }} de {{ cursos.paginator.num_pages }}</span>
			</div>
		{% endif %}

			<div class="flex items-center mt-20 gap-x-4 sm:mt-0">
				{% if cursos.has_previous %}
				<a href="?page=1" class="flex items-center justify-center w-1/2 px-5 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 bg-white border rounded-md sm:w-auto gap-x-2 hover:bg-gray-100 dark:bg-gray-900 dark:text-gray-200 dark:border-gray-700 dark:hover:bg-gray-800">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 rtl:-scale-x-100">
						<path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
					</svg>
					<span>Anterior</span>
				</a>
				{% endif %}

				{% if cursos.has_next%}
				<a href="?page={{ cursos.next_page_number }}" class="flex items-center justify-center w-1/2 px-5 py-2 text-sm text-gray-700 capitalize transition-colors duration-200 bg-white border rounded-md sm:w-auto gap-x-2 hover:bg-gray-100 dark:bg-gray-900 dark:text-gray-200 dark:border-gray-700 dark:hover:bg-gray-800">
					<span>Próximo</span>
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 rtl:-scale-x-100">
						<path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
					</svg>
				</a>
				{% endif %}
			</div>
		</div>
		<!-- End Pagination -->
</body>
</html>

