<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
      
    <title>Editar Curso</title>
</head>

<body class="flex">

  {% include 'base/menu_de_edicao.html' %}

  <form action="{% url 'professores:editar_curso' curso.id %}" method="POST" enctype="multipart/form-data" class="ml-10 px-4 py-8">{% csrf_token %}
    {% if messages %}
      {% for message in messages %}

      <div class="flex items-center p-4 mb-4 text-sm text-gray-800 rounded-lg bg-gray-50 dark:bg-gray-800 dark:text-gray-300" role="alert">
        <svg class="flex-shrink-0 inline w-4 h-4 mr-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
        <span class="sr-only">Info</span>
        <div>
          <span class="font-medium">{{ message }}</span> 
        </div>
      </div>

      {% endfor %}
    {% endif %}

    <div class="space-y-12">
    
    <div class="border-b border-gray-900/10 pb-12">
      <h2 class=" text-2xl font-semibold leading-7 text-gray-900">Criação Do Curso</h2>
      <p class="mt-1 text-sm leading-6 text-gray-600">Vamos começar seu novo curso, preencha as informaçãos necessárias.</p>

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">

        <div class="sm:col-span-3">
          <label for="novo_titulo" class="block text-sm font-medium leading-6 text-gray-900">Título do curso</label>
          <div class="mt-2">
            <input type="text" name="novo_titulo" id="novo_titulo" value="{{ curso.titulo }}" placeholder="Pox exemplo: Aprenda PowerBI Avançado" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 pl-2">
    
          </div>
        </div>

        <div class="sm:col-span-1 sm:col-start-1">
          <label for="nova_duracao" class="block text-sm font-medium leading-6 text-gray-900">Duração</label>
          <div class="mt-2">
            <input type="text" name="nova_duracao" id="nova_duracao" value="{{ curso.duracao_curso }}" placeholder="ex: 8 meses" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 pl-2">
          </div>
        </div>
        
        <div class="sm:col-span-3">
          <label for="nova_categoria" class="block text-sm font-medium leading-6 text-gray-900">Categoria</label>
          <div class="mt-3">
            <select id="nova_categoria" name="nova_categoria" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6 pl-2">
              <option value="default" selected disabled hidden >{{ curso.categoria }}</option>
              <option >Ciência De Dados</option>
              <option>Análise De Dados</option>
              <option>Inteligência Artificial</option>
              <option>Desenvolvimento Web Backend</option>
              <option>Desenvolvimento Web FrontEnd</option>
              <option>Outro</option>
            </select>
          </div>
        </div>

        <div class="col-span-full">
          <label for="nova_descricao" class="block text-sm font-medium leading-6 text-gray-900">Descrição</label>
          <div class="mt-2">
            <textarea id="nova_descricao" name="nova_descricao" rows="3" placeholder="informações do curso aqui..." class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 pl-2">{{ curso.descricao }}</textarea>
          </div>
          <p class="mt-3 text-sm leading-6 text-gray-600">Descreva para seu publico o que eles irão aprender no curso.</p>
        </div>

      </div>
    </div>
      
      <div class="col-span-full">
        <label for="nova_imagem" class="block text-sm font-medium leading-6 text-gray-900">Imagem de capa</label>
        <div class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-10">
          <div class="text-center">
            <svg class="mx-auto h-12 w-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z" clip-rule="evenodd" />
            </svg>
            <div class="mt-4 flex text-sm leading-6 text-gray-600">
              <label for="nova_imagem" class="relative cursor-pointer rounded-md bg-white font-semibold text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500">
                <span>
                  
                  Substituir imagem
      
                </span>
                <input id="nova_imagem" name="nova_imagem" type="file">
              </label>
            </div>
            {% if curso.imagem_capa %}
            <p class="text-xs leading-5 text-gray-600">{{ curso.imagem_capa.name }}</p>
            {% endif %}
          </div>
        </div>
      </div>
  </div>

  <div class="mt-6 flex items-center justify-end gap-x-6">
    <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Salvar Alterações</button>
  </div>
</form>
      
</div>

</body>
</html>